<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsMk8J8dAX2-xskmMJkqRszkAgydu4zUc</string>
	<key>GCM_SENDER_ID</key>
	<string>225279844734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shortvidMvpFinal</string>
	<key>PROJECT_ID</key>
	<string>shortvid-mvp-final</string>
	<key>STORAGE_BUCKET</key>
	<string>shortvid-mvp-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225279844734:ios:c12dbb19a11cc61058932f</string>
</dict>
</plist>